.form-container {
  height: calc(100% - 64px);
}

.right-drawer {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 24px;
}

.drawer-header, .drawer-footer {
  height: 64px;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawer-content {
  height: calc(100% - 128px);
}

mat-form-field {
  min-width: 320px;
  padding: 0px 16px;
}

.custom-overflow {
  overflow-y: auto;
  overflow-x: hidden;
}