<div class='board-canvas'>

  <div class='wrapper-board' [ngStyle]='{ "width": getCanvasWidth() }'>
    <div class="container" *ngFor='let item of selectedItems; index as it'>

      <app-new-task [bIndex]='it'>
        <h2 style="padding-left: 1em; margin: 0px 0px"> {{ item.name }} </h2>
      </app-new-task>

      <br/>
      
      <div [id]="'board-'+it" cdkDropList [cdkDropListData]="(item.tasks)"
        [cdkDropListConnectedTo]="getConnectedComponents()" class="list" (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let data of item.tasks; index as pos">
          <app-task-node cdkDrag (cdkDragStarted)='dragging = true' (cdkDragEnded)='dragging = false' class="list-item"
            [coords]='[it, pos]' [info]='data' (edit)='editItem($event)' (remove)='removeItem($event)'>
            <mat-icon icon cdkDragHandle style="cursor:all-scroll !important;">
              menu
            </mat-icon>
            <div placeholder class='placeholder' *cdkDragPlaceholder></div>
          </app-task-node>
        </ng-container>
        <div class='empty-banner' *ngIf='!dragging && (item.tasks.length === 0)'>
          <h3> This board is empty </h3>
        </div>
      </div>

    </div>
  </div>

  <div class='centered' style="color: #424242" *ngIf='!selectedItems || selectedItems.length === 0'>
    <h3>
      <mat-icon [inline]='true' style="font-size: 8em">history</mat-icon>
    </h3>
    <h2> No tasks found </h2>
  </div>

  <span class='scroll-area' [ngClass]='(breakpointService.isHandSet() | async) ? "sa-left-short": "sa-left-long"' (pointermove)='dragging && scrollLeft()'></span>
  <span class='scroll-area sa-right' (pointermove)='dragging && scrollRight()'></span>

</div>
