<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(breakpointService.isHandSet() | async) ? 'dialog' : 'navigation'"
    [mode]="(breakpointService.isHandSet()| async) ? 'over' : 'side'" [opened]="(breakpointService.isHandSet()| async) === false">
    <mat-toolbar>Barnboard</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink='home'>Home</a>
      <a mat-list-item routerLink='board'>Dashboard</a>
      <a mat-list-item routerLink='settings'>Settings</a>
      <a mat-list-item (click)='loaderPrototype()'>Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="breakpointService.isHandSet() | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class='space-between' style='width: 100%'>
        <div> {{ boardService?.orgName }} </div>
        <button mat-icon-button matTooltip='Add new board' matTooltipPosition='left'
          [matTooltipClass]='"custom-tooltip"'>
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <app-form-drawer>
      <router-outlet></router-outlet>
    </app-form-drawer>
  </mat-sidenav-content>
</mat-sidenav-container>