.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h2, p {
  cursor: text;
}

.more-button {
  align-items: flex-start;
}