/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-tooltip {
  background-color: #0077c2 !important;
  box-shadow: 0 0 4px 0px #0d47a1;
}