@import '../materialize/materialize-src/sass/materialize.scss';

.grid-container {
  margin: 20px;
  margin-bottom: 0px;
}

:host {
  width: auto;
  height: calc(100% - 64px);
}

.h-100 {
  height: calc(100% - 64px);
}

.max-h {
  height: max-content;
}

.mat-card ::ng-deep {
  height: 84%;
}

.home-card ::ng-deep {
  height: 90%;
  padding-bottom: 24px;
}

.footer-content {
  margin-top: 0px;
  text-align: right;
  margin-right: 32px;
}