<div class='row' style='height: calc(100% - 20px)'>

  <div class="col s1 m2 l3">
    &nbsp;
  </div>

  <div class="col s10 m8 l6 h-100">
    <div class='card h-100 settings' style="margin-bottom: 0px;">
      
      <div class="card-part header">
        <h5>Settings</h5>
      </div>

      <div class='card-part w-100 content'>

        <!-- Add content adjustments here -->
        <app-profile></app-profile>
          
        <!-- 

            Profile image cmp
            ----------
            | FIELDS |
            ----------

         -->

      </div>

      <div class="card-part w-100 footer">
        Settings footer
      </div>

    </div>
  </div>

  <div class="col s1 m2 l3">
    &nbsp;
  </div>

</div>
